@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html{
	font-size: 62.5%;
	box-sizing: border-box;
	scroll-behavior: smooth;
}


body {
	font:1.6rem Helvetica;
	height: 100vh;
	margin:0;
}

button{
	font-size: 1.6rem;
}

.full-width{
	width: 100%;
}

#root{
	height: 100%;
}

body, input, select, button, textarea{
	font-size: 1.6rem;
	font-family:Montserrat, Helvetica, Arial, sans-serif;
}

a{
	text-decoration: none;
	color:#365347
}

a:hover{
	color:#ff8000;
}

h3{
	font-size: 1.8rem;
	padding-left: 2rem;
	font-family: Helvetica;
}


.grid-container{
    display:grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-rows:  5rem 1fr 5rem;
    grid-template-columns: 1fr;
    height:100%;
}

nav {
  position: sticky;
  top: 0;
}
.header {
	position: sticky;
	top: 0; 
	grid-area:header;
	padding-bottom: 0;
	background-color: #365347;
	color: #83AE42;
	display:flex;
	overflow: hidden;
	justify-content: space-between;
	align-items: center;
	padding:0.5rem;
	box-shadow: 0px 8px 5px #27272780;
    -webkit-box-shadow: 0px 8px 5px #27272780;
    -moz-box-shadow: 0px 8pxt 5px #27272780;
    position: relative;
    z-index: 1;
}

.brand a{
	align-items: center;
	padding-left:1rem;
	color:#83AE42;
	font-size: 2.5rem;
	font-weight: bold;
	text-decoration: none;
}

.header-links a{
	color:darkorange;
	text-decoration:none;
	padding: 0.5rem;
}

.header-links a:hover {
	color:#83AE42;
	text-decoration:none;
}

.main{
	grid-area:main;
}

.footer{
	grid-area:footer;
    background-color: #365347;
	color: darkorange;
    font-size: 1rem;
	display:flex;
	justify-content: center;
	align-items: center;
}

.content{
	display:flex;
	flex-wrap:wrap;
	position: fixed;
};

.main{
	flex: 3 60rem;
}

/*.sidebar{
	flex:1 1 15rem;
}
*/
/* HomeScreen products*/

.products{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding:0;
	list-style-type: none;
}

.products li{
	flex: 0 1 20rem;
	height: 37rem;
	padding: 0.5rem;
	margin:1rem;
	height:37rem;
	border-bottom: 0.2rem #c0c0c0 solid;

}

.product{
	display:flex;
	flex-direction:column;
	justify-content: space-between;
	height: 100%;
}

.product-title{
	font-size: 1.7rem;
	font-weight: bold;

}

.product-brand{
	font-size: 1.3rem;
	color:#808080;
}

.product-image{
	max-width: 34rem;
	max-height: 34rem;
	border-radius: 0.5rem;
}

.product-rating{
	margin-bottom: 1rem;
}
.product-price{
	font-size:1.8rem;
	font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-price div,
.product-price button{
	text-align: center;
	flex:1;
}

.product-price div{
	font-size: 2rem;
}

.button{
	padding:1rem;
	border:0.1rem #c0c0c0 solid;
	background-color: #f0f0f0;
	color: white;
}

.button:hover{
    border:0.1rem #808080 solid;
}

.button.primary{
	background-color:darkorange;
}

/*product details*/

.details{
	display: flex;
	padding: 1rem;
	justify-content: space-between;
	align-items:flex-start;
	flex-wrap: wrap;	
}

.details-image{
	flex: 2 1 10rem;
}

.details-image img{
	max-width: 40rem;
	widows:100%;
}


.details-info{
	flex:1 1 25rem;
}

.detail-info ul, .detail-action ul{
	list-style-type: none;
	padding: 0;
}


.details-action{
	flex:2 1 20rem;
}

.details-info li, .detail-action li{
	list-style-type: none;
	margin-bottom:2rem;	
}


.back-to-result{
	padding: 1rem;
}

.details-action{
	border: 0.3rem #808080 solid;
	border-radius: 0.5rem;
	background-color: #f8f8f8;
	padding: 1rem;
}

.details-action ul li:last-child{
	display:flex;
	flex-direction: column;
	margin:1rem;
}

.button{
	padding: 1rem;
	border-radius: 0.5rem;
	border:0.1rem #808080 solid;
	cursor:pointer;

}

.button:hover{
	border:0.1rem #404080 solid;
}
.button.primary{
	background-color: #f0c040 solid;
}

.button.secondary{
background-color: #365347;
text-align: center;
}

.select {
	margin-left: 0.5rem;
}

/*products*/

.product-header{
	display:flex;
	justify-content: space-between;
	align-items: flex-start;
}

.content-margined{
	margin:1rem;
}

.table{
	width: 100%;
}

th{
	text-align: left;
}

tbody>tr:nth-child(odd){
	background-color: #f0f0f0;
}
/*SideBar*/

.sidebar{
	position: fixed;

	transition: all .5s;
	transform: translateX(-30rem);
	background-color: #365347;
	color:#ffffff;
	width: 30rem;
	z-index: 2
}

.sidebar li{
	position: relative;
    font-size: 1.6rem;
    padding: 0.5rem;
	font-family: Helvetica;
	list-style-type: none;
	z-index: 1;
}

.sidebar li a:hover{
	color:darkorange;
}

.sidebar.open{
	transform: translateX(0);

}

.sidebar-close-button {
	border-radius: 50%;
	border: .1rem #ffffff transparent;
	width: 3rem;
	height: 3rem;
	font-size: 2rem;
	cursor: pointer;
	position: absolute;
	right: 0.5rem;
	top:5.5rem;
	background-color:transparent;
	color:#83AE42;
	z-index: 2
 }

.brand button{
	display: flex;
	float: left;
	left: 0;
	font-size: 3rem;
	padding:0.5rem;
	background:none;
	border:none;
	color:darkorange;
	cursor:pointer;
}


/*cart*/

.cart{
	display: flex;
	flex-wrap: wrap;
	margin:1rem;
	align-items:flex-start;
}

.cart-list{
	flex:3 1 60rem;
}

.cart-list-container {
	padding:1rem;
	list-style-type:none;
	
}

.cart-list-container li{
	display: flex;
	justify-content: space-between;
	align-items:flex-end;
	padding-bottom: 1rem;
	margin-bottom: 1rem;
	border-bottom:0.1rem #c0c0c0 solid;
}

.cart-list-container li img{
	max-width: 10rem;
	max-height: 10rem;

}

.cart-list-container li:first-child{
	display:flex;
	justify-content: space-between;
	align-items: flex-end;
}

.cart-action{
	flex: 1 1 20rem;
	background-color: #f0f0f0;
	border:0.1rem #808080 solid;
	border-radius: 0.5rem;
	padding: 1rem;

}

.cart-image{
	flex:1 1;
}


.cart-title{
	flex:1 1;
}


.cart-price{
	flex:1 1;
	font-size: 2.5rem;
	text-align: right;
}


/**forms*/

 .form{
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	height: 100%
 }

.form-container{
    display: flex;
	flex-direction: column;
	width:32rem;
	padding: 2rem;
	border: .1rem #c0c0c0 solid;
	border-radius: 0.5rem;
	list-style-type: none;
	overflow: hidden;
	background-size: contain;
	max-height: 51rem;
	margin: 0 0 5px 0
}

.form-container li{
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
	margin-top: 1rem;
}

input{
	padding: 1rem;
	border: 0.1rem #c0c0c0 solid;
	border-radius: 0.5rem;
}

/*aboutScreen*/

 .aboutcall {
  position: absolute;
  font-weight: bold;
  font-size: 4rem;
  margin-top: 20rem;
  max-width: 300px;
  max-height: 250px;
  width: 150ch;
  height: 150ch;
  cursor: pointer;
  z-index: 3;
  color:#83AE42;
}

.carousel {
  position: relative;
  z-index: 2
}

 /*Carousel slides*/
.carousel__slide {
  margin-right: auto;
  margin-left: auto;
  display: none;
  max-width: 900px;
  list-style-type: none;
  text-align: center;

  @media (max-width: 990px) {
    padding-right: 20px;
    padding-left: 20px;
  }

  &--active {
    display: block;
  }
}

 /*Content of slides*/
.carousel-slide__content {
  margin-bottom: 19px;
  font-family: 'Open Sans', 'Trebuchet MS', sans-serif;
  font-size: 16px;

  @media (max-width: $breakpoint-desktop - 1px) {
    font-size: 18px;
  }
}


 /*Carousel slides*/
.carousel__slide {
  margin-right: auto;
  margin-left: auto;
  display: none;
  max-width: 900px;
  list-style-type: none;
  text-align: center;

  @media (max-width: 991px) {
    padding-right: 60px;
    padding-left: 60px;
  }

  &--active {
    display: block;
  }
}


.carousel-slide__author,
.carousel-slide__source {
  font-family: 'Roboto', arial, sans-serif;
  font-size: 14px;

  @media (min-width: $breakpoint-desktop) {
    font-size: 16px;
  }
}

.carousel-slide__source {
  font-style: italic;
  color: #888;
}

 /*Carousel arrows*/
.carousel__arrow {
  position: absolute;
  top: 50%;
  display: block;
  color: #111;
  cursor: pointer;
  opacity: .75;
  transform: translateY(-50%);
  transition: opacity .15s cubic-bezier(.4, 0, 1, 1);

  &:focus {
    outline: 0;
  }

  &:hover {
    opacity: .5;
  }

  &--left {
    left: 32px;
  }

  &--right {
    right: 32px;
  }
}

 /*Carousel indicators*/
.carousel__indicators {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;

  li {
    &:nth-of-type(n + 2) {
      margin-left: 9px;
    }
  }
}

.carousel__indicator {
  display: block;
  width: 24px;
  height: 3px;
  background-color: #111;
  cursor: pointer;
  opacity: .15;
  transition: opacity .15s cubic-bezier(.4, 0, 1, 1);

  &:hover {
    opacity: .5;
  }

  &--active {
    &,
    &:hover {
      opacity: .75;
    }
  }
}
/*
.simple-trans-main > div {
  cursor: pointer;
  position: absolute;
  width: 80rem;
  height: 30rem;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 300;
  font-size: 1em;
  will-change: transform, opacity;
  text-shadow: 0px 4px 40px #00000020, 0px 2px 5px #00000030;
  background: #7e8381;
  z-index: 2
}
*/


.bg {
position: absolute;
display: flex;
top: 1rem;
bottom: 0;
left: 0;
width:130rem;
height: 55rem;
background-size: cover;
background-position: center;
will-change: opacity;
z-index: 9;
}

.about-content{
	display:list-item;
	position: absolute;
};

.about{
display: flex;
position: relative;
padding: 1rem;
justify-content: space-between;
align-items:flex-start;
flex-wrap: wrap;
z-index: 9;
}


@media only screen and (max-width:800px) {
  /* For tablets: */
  .bg {
    width: 90%;
    height: 60%;
    padding: 0;
    margin-left: 2.3rem;
  }

 }

 